# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/packages/*/build/
/packages/*/build-es/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json/
/packages/jui/storybook-static
/packages/rcui/storybook-static
/application/node_modules/
/application/build/
/application/dist/
/application/build-es/
/application/.cache-loader
/core/*/build/

# misc
.DS_Store

lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# vscode
.vscode/symbols.json
# vscode history extension
.history
.idea/
# cache
.rpt2_cache
packages/jui/.cache
.eslintcache
# lint report folder
/lint
# UT error
/ut
# jira
jira.config.json

# v8-compile-cache
v8-compile-cache*

# ts cache
.tsc_cache*
packages/jui/package-lock.json
tsconfig.tsbuildinfo
core/foundation/build

itReport/
utReport/

report.*.json
# google sheet json
token.json